
.bg-reviews {
  background-color: #000;
}
.review-bottom:hover{
text-decoration: underline;
cursor: pointer;
}
.card-settings {
  cursor: pointer;
}
.card-settings:hover {
  box-shadow: 0px 0px 20px 0px #FB914B;
}