
.bg-about{
    background-color:  #383735;
    color: #FCEDDB;
}
.heading-about{
    color: #fff;
    font-size: 45px;
}

@media (max-width: 576px) {
   .img-about{
    width: 100%;
    height: 200;
   } 
}