@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap");

.bg-about{
    background-color:  #383735;
    font-family: "Itim", cursive;
    color: #FCEDDB;
}
.heading-about{
    color: #fff;
    font-size: 45px;
}
.img-1-about{
   height: 68vh; 
   border-radius: 10px;
}
.img-2-about{
    height: 200px;
    border-radius: 10px;
}
.img-3-about{
    height: 200px;
    border-radius: 10px;
}
